.table {
    border: 1px solid #2c2c2c;
    border-collapse: collapse;
    margin: 15px;
    padding: 5px;
    width: 280px;
}


.head {
    background-color: rgb(61, 178, 61);
    color: #fff;
    font-size: 20px;
    line-height: 1.8;

}

.typecell {
    text-align: left;
    padding-left: 5px;
    border: 1px solid #ddd;
}

.cell {
    border: 1px solid #ddd;
    text-align: center;
        
}

tr:hover {
    background-color: #d3d3d3;
}


